label {
width:150px;
float:left;
font-size:12px;
line-height:24px;
font-weight:bold;

}
select,
input {
margin-bottom:5px;
line-height:18px;
padding:2px 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border:1px solid #CCC;
}

/*General rules*/
select,
input {
line-height:18px;
}
/*Text, email & tel input fields*/
select,
input[type=text],
input[type=email],
input[type=tel] {
width:300px;
margin-bottom:8px;
padding:2px 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border:1px solid #CCC;
}
/*Just the tel field*/
input[type=tel] {
width:150px;
}
/*The Submit Button */
input[type=button] {
    margin-top:5px;
    margin-left:150px;
    padding:2px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:2px solid #06C;
    background-color:#09F;
    color:#fff;
    font-weight:bold;
}

select:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus{
border:1px solid #09F;
-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}